/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

p {
  font-size: 1.5em;
  line-height: 1.2;
}
.btn.btn-primary {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn.btn-primary:hover {
  background-color: #eea236;
  border-color: #eea236;
}
.btn.btn-secondary {
  background-color: #304fb4;
  border-color: #383ad4;
  border-radius: 50px;
}
.btn.btn-secondary:hover {
  background-color: #7272a7;
  border-color: #8687aa;
}

a {
  color: #5670e4;
  font-size: large;
}

.card.p-2 {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: rgb(168, 223, 204);
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5em;
}
